<template name="homePage">
  <div class="masthead">
    <h1>What's Nearby?</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        Below is a list of random places near you. Please pardon this page for
        looking a bit ugly. This is mostly to demonstrate code functionality,
        not design.
      </div>
    </div>

    {{#if isTrue 'loadingPlaces'}}
      <div class="locating">
        <i class="fa fa-globe fa-3x"></i>
      </div>
    {{/if}}
    {{#each places}}
      <p>{{name}}</p>
    {{/each}}
  </div>
</template>
